@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Hey welcome to Super Adventure RPG!.</p>
        <p>You will have an extraordinary experience like never before on an RPG!..... Well that was a little exaggerated sorry.</p>
    </div>
